{% extends 'layout.html' %}

{% load static %}

{% block title %}
{{ category.name }} - Fast-Mart
{% endblock %}

{% block content %}
{% if messages %}
    <div id="message-box" class="fixed top-0 inset-x-0 px-4 py-3 bg-gray-400 text-white shadow-md z-50 text-center">
        {% for message in messages %}
            <div class="text-gray-300 font-semibold">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8 text-center bg-gray-800 text-white py-4 px-6 rounded-lg">{{ category.name }}</h1>

    <!-- Grid for products -->
    <div class="relative grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        {% for product in products %}
            <div class="bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105">
                <!-- Make image a clickable link -->
                <a href="{% url 'product_details' product_id=product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-64 object-contain p-4">
                </a>

                <div class="p-6">
                    <h2 class="text-xl font-semibold text-gray-800">{{ product.name }}</h2>

                    <div class="flex items-center justify-between mt-4">
                        <p class="text-lg text-gray-800 font-bold">${{ product.price }}</p>
                        {% if product.discount %}
                            <p class="text-sm text-red-500 font-semibold">{{ product.discount }}% OFF</p>
                        {% endif %}
                    </div>

                    <p class="mt-2 text-sm text-gray-800">Quantity: {{ product.quantity }}</p>
                    <p class="mt-2 text-sm text-gray-800">{{ product.description }}</p>

                    <!-- Add to Cart link -->
                     

                    <a href="{% url 'product_details' product_id=product.id %}" class="mt-4 block w-full bg-gray-800 text-white text-center font-semibold py-2 rounded-lg hover:bg-black focus:outline-none focus:ring-2 focus:ring-blue-300">
                        Want to Buy?
                    </a>
                </div>
            </div>
        {% empty %}
        <!-- No Products Found image must cover whole page-->
    
        <img src="{% static 'no rpoduct.jpg' %}" alt="No Products Found" class="object-contain max-w-full max-h-full mx-auto block">
   
        {% endfor %}
    </div>
</div>
<script>
    // Hide the message box after 3 seconds (3000 milliseconds)
    setTimeout(function() {
        var messageBox = document.getElementById('message-box');
        if (messageBox) {
            messageBox.style.display = 'none';
        }
    }, 3000); // 3 seconds
</script>
{% endblock %}
